@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

:root {
    --colour-1: #ffffff;
    /* Main background color */
    --colour-2: #f4f4f4;
    /* Slightly lighter background for contrast */
    --colour-3: #092146;
    /* Light gray text */
    --colour-4: #092146;
    /* Lighter gray text */
    --colour-5: #f4f4f4;
    /* Dark gray for containers */
    --colour-6: #4B5563;
    /* Darker gray for borders */

    --accent: #ffffff;
    /* Accent color for interactive elements */
    --blur-bg: #f4f4f4;
    /* Blurred background color */
    --blur-border: #f4f4f4;
    /* Blurred border color */
    --user-input: #D1D5DB;
    /* Placeholder text color */
    --conversations: #A3A3A3;
    /* Icon color */
    --boxmain: #ffffff;
}

:root {
    --font-1: "Inter", sans-serif;
    --section-gap: 25px;
    --border-radius-1: 8px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    position: relative;
    font-family: var(--font-1);
}

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    padding: var(--section-gap);
    background: var(--colour-1);
    color: var(--colour-3);
    min-height: 100vh;
}

.row {
    display: flex;
    gap: var(--section-gap);
    height: 100%;
    /* Ensure row takes the full height */
}

.top-decor-line {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    /* 设置线条的高度 */
    background: linear-gradient(to right, red, yellow);
    /* 渐变色 */
    z-index: 1000;
    /* 确保在最前 */
}

.hljs {
    color: #e9e9f4;
    background: #28293629;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--blur-border);
    font-size: 15px;
}

#message-input {
    margin-right: 30px;
    height: 80px;
}

#message-input::-webkit-scrollbar {
    width: 5px;
}

/* Track */
#message-input::-webkit-scrollbar-track {
    background: #f1f1f1;
}

/* Handle */
#message-input::-webkit-scrollbar-thumb {
    background: #c7a2ff;
}

/* Handle on hover */
#message-input::-webkit-scrollbar-thumb:hover {
    background: #8b3dff;
}

.title-bar {
    background-color: var(--colour-5);
    color: var(--colour-3);
    padding: 12px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-bottom: 1px solid var(--blur-border);
}

input[type="range"] {
    width: 200px;
    margin: 0;
}



.user-message {
    text-align: right;
    
}

/* 左对齐系统消息 */
.system-message {
    text-align: left;
}

/* 其他通用样式 */
.message .content {
    display: inline-block;
    padding: 10px;
    border-radius: 10px;
    margin: 5px;
}

.user-message .content {
    background-color: #f4f4f4;
    /* 用户消息的背景颜色 */
}

/* Add new styles for the configuration page if needed */
.config-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid var(--blur-border);
    border-radius: var(--border-radius-1);
    background-color: var(--blur-bg);
}

.config-container h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

.config-container textarea {
    width: 100%;
    height: 80vh;
    margin-bottom: 10px;
    padding: 10px;
    font-size: 14px;
    border: 1px solid var(--blur-border);
    border-radius: var(--border-radius-1);
}

.config-container button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: var(--border-radius-1);
    background-color: var(--blur-bg);
    cursor: pointer;
}

.config-container button:hover {
    background-color: var(--colour-5);
}

/* 欢迎消息的样式 box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);*/
.welcome-message {
    position: fixed;
    top: 45%;
    left: 55%;
    transform: translate(-50%, -50%);
    background-color: var(--boxmain);
    padding: 20px;
    border-radius: 10px;
    box-shadow: none;
    text-align: center;
    z-index: 1000;
    
}

.welcome-message p {
    font-size: 2.5em;
    color: #092146;
}

.icon-highlight {
    color: rgb(235, 153, 30);
     

    /* 高亮的颜色，可根据需要修改 */
}

.emoji-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 20px;
    /* Set the gap between divs */
}

.emoji-box {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    /* Align items to the left */
    justify-content: center;
    width: 160px;
    height: 120px;
    background-color: #ffffff;
    border: 1px solid #f4f4f4;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    gap: 10px;
    padding: 10px;
    /* Add padding for spacing */
    color: gray;
        /* Set font color to gray */
}

/* 鼠标悬停时的样式 */
.emoji-box:hover {
    background-color: #f4f4f4;
    /* 更改背景颜色 */
    color: rgb(27, 27, 27);
    /* 可选：更改字体颜色以提高对比度 */
}

.emoji-box div:first-child {
    font-size: 1rem;
    /* Adjust the emoji size */
}

.emoji-box div:last-child {
    font-size: 0.775rem;
    text-align: left;
    /* Align text to the left */
    padding: 0 10px;
}

hr {
    border: 0;
    height: 1px;
    background: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    margin: 2px 0;
}

hr.three-d {
    height: 2px;
    background: linear-gradient(to bottom, white, #ccc);
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.input-container2 {
    display: flex;
    align-items: center;
    gap: 5px;
    /* Space between buttons and input */
}


.input-container2 button {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 7px;
    cursor: pointer;
    font-size: 1rem;
}

.input-container2 input {
    width: 65px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
    /* Make the input non-editable */
}

.input-container {
    display: flex;
    align-items: center;
    gap: 5px;
    /* Space between buttons and input */
}


.input-container button {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 2px 7px;
    cursor: pointer;
    font-size: 1rem;
}

/* 鼠标悬停时的样式 */
.input-container button:hover {
    background-color: #ffffff;
    /* 更改背景颜色 */
    border-color: rgb(255, 0, 0);
    /* 更改边框颜色 */
}

/* 鼠标悬停时的样式 */
.input-container2 button:hover {
    background-color: #ffffff;
    /* 更改背景颜色 */
    border-color: rgb(255, 0, 0);
    /* 更改边框颜色 */
}

.input-container input {
    width: 65px;
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 5px;
    pointer-events: none;
    /* Make the input non-editable */
}

input[type="range"] {
    -webkit-appearance: none;
    width: 100%;
    background: white;
    /* 底色为白色 */
    height: 8px;
    border-radius: 5px;
    outline: none;
}

/* 设置滑块的颜色为灰色 */
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: rgb(0, 0, 0);
    /* 滑块颜色为灰色 */
    cursor: pointer;
    border-radius: 50%;
}

input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: gray;
    /* 滑块颜色为灰色 */
    cursor: pointer;
    border-radius: 50%;
}

input[type="text"] {
    border-radius: 10px;
    /* 圆角 */
    border: 2px solid #ccc;
    /* 默认边框颜色 */
    padding: 1px;
    width: 120px;
    /* 自定义宽度 */
    height: 40px;
    /* 自定义高度 */
    box-sizing: border-box;
    /* 包括内边距和边框在内的宽度和高度 */
}

/* 获得焦点时，边框变成红色 */
input[type="text"]:focus {
    border-color: red;
    outline: none;
    /* 去掉默认的焦点边框 */
}

.box {
    display: flex;
    flex-direction: column;
    height: 100%;
    /* Ensure box takes the full height */
    background-color: var(--blur-bg);
    border-radius: var(--border-radius-1);
    border: 1px solid var(--blur-border);
}



.box_main {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: var(--boxmain);
    height: 80%;
    width: 100%;
    border-radius: var(--border-radius-1);
    border: none;

    /* 添加 Flexbox 布局 */
    display: flex;
    
    /* 水平居中对齐 */
    align-items: center;
    /* 垂直居中对齐 */
}

.box_main>div {
    width: 70%;
    /* 子 div 占用 .box 的 60% 区域 */
    
    /* 子 div 内部内容居中对齐 */
}

/* .conversations {
    max-width: 260px;
    padding: var(--section-gap);
    overflow: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
} */

.conversations {
    max-width: 260px;
    padding: var(--section-gap);
    overflow-y: auto;
    /* Enable vertical scrolling */
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    /* Ensure conversations start at the top */
    height: 100%;
    /* Ensure conversations take the full height */
}

.conversation {
    width: 100%;
    min-height: 50%;
    height: 100%;
    overflow-y: auto;
    /* Enable vertical scrolling for conversation */
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

/* Ensure other necessary classes are set correctly */
.conversation #messages {
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    overflow-y: inherit;
    overflow-x: hidden;
    padding-bottom: 50px;
}

.content img {
    max-width: 70%;
    height: auto;
    /* 保持图片纵横比 */
    cursor: pointer;
    /* 鼠标悬停时显示手型 */
    transition: transform 0.3s ease;
    /* 平滑缩放过渡效果 */
}

.icon-gray {
    color: rgb(161, 161, 161);
    /* 将图标颜色设置为灰色 */
}

.content img.zoomed {
    max-width: 100%;
    /* 放大到 100% */
    transform: scale(1.5);
    /* 放大效果 */
    z-index: 1000;
    /* 确保图片在其他内容上方 */
    position: relative;
    /* 使缩放效果更平滑 */
}

.user-input {
    display: flex;
    justify-content: center;
    max-height: 10vh;
}

.conversation .user-input {
    
 
    
    max-height: 10vh;
}

.conversation .user-input input {
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 12px 15px;
    background: none;
    border: none;
    outline: none;
    color: var(--colour-3);
    
}

.conversation .user-input input::placeholder {
    color: var(--user-input)
}

.gradient:nth-child(1) {
    --top: 0;
    --right: 0;
    --size: 70vw;
    --blur: calc(0.5 * var(--size));
    --opacity: 0.3;
    animation: zoom_gradient 6s infinite;
}

.gradient {
    position: absolute;
    z-index: -1;
    border-radius: calc(0.5 * var(--size));
    background-color: var(--accent);
    background: radial-gradient(circle at center, var(--accent), var(--accent));
    width: 70vw;
    height: 70vw;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    filter: blur(calc(0.5 * 70vw)) opacity(var(--opacity));
}

.conversations {
    display: flex;
    flex-direction: column;
    gap: 16px;
    flex: auto;
    min-width: 0;
}

.conversations .title {
    font-size: 14px;
    font-weight: 500;
}

.conversations .convo {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    user-select: none;
    justify-content: space-between;
}

.conversations .convo .left {
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    flex: auto;
    min-width: 0;
}

.conversations i {
    color: var(--conversations);
    cursor: pointer;
}

.convo-title {
    color: var(--colour-3);
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
}

.message {
    width: 100%;
    overflow-wrap: break-word;
    display: flex;
    gap: var(--section-gap);
    padding: var(--section-gap);
    padding-bottom: 0;
}

.message:last-child {
    animation: 0.6s show_message;
}

@keyframes show_message {
    from {
        transform: translateY(10px);
        opacity: 0;
    }
}

.message .user {
    max-width: 48px;
    max-height: 48px;
    flex-shrink: 0;
}

.message .user img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border:none;

}

.message .user:after {
    content: "63";
    position: absolute;
    bottom: 0;
    right: 0;
    height: 60%;
    width: 60%;
    background: var(--colour-3);
    filter: blur(10px) opacity(0.5);
    z-index: 10000;
}

.message .content {
    display: flex;
    flex-direction: column;
    gap: 18px;
    min-width: 0;
}

.message .content p,
.message .content li,
.message .content code {
    font-size: 15px;
    line-height: 1.3;
}

.message .user i {
    position: absolute;
    bottom: -6px;
    right: -6px;
    z-index: 1000;
}



.new_convo {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 1px dashed var(--conversations);
    border-radius: var(--border-radius-1);
}

.new_convo span {
    color: var(--colour-3);
    font-size: 14px;
}

.new_convo:hover {
    border-style: solid;
    border-color: red;
}

.stop_generating {
    position: absolute;
    bottom: 118px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1000000;
}

.stop_generating button {
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: var(--blur-bg);
    border-radius: var(--border-radius-1);
    border: 1px solid var(--blur-border);
    padding: 10px 15px;
    color: var(--colour-3);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    animation: show_popup 0.4s;
}

@keyframes show_popup {
    from {
        opacity: 0;
        transform: translateY(10px);
    }
}

@keyframes hide_popup {
    to {
        opacity: 0;
        transform: translateY(10px);
    }
}

.stop_generating-hiding button {
    animation: hide_popup 0.4s;
}

.stop_generating-hidden button {
    display: none;
}

.typing {
    position: absolute;
    top: -25px;
    left: 0;
    font-size: 14px;
    animation: show_popup 0.4s;
}

.typing-hiding {
    animation: hide_popup 0.4s;
}

.typing-hidden {
    display: none;
}

input[type="checkbox"] {
    height: 0;
    width: 0;
    display: none;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 50px;
    height: 15px;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: white;
    border-radius: var(--border-radius-1);
    border: 1px solid var(--blur-border);
    display: block;
    border-radius: 100px;
    position: relative;
    overflow: hidden;
    transition: 0.33s;
}

label:after {
    content: "";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 2px;
    width: 12px;
    height: 12px;
    background: var(--colour-3);
    border-radius: 90px;
    transition: 0.33s;
}

input:checked+label {
    background: var(--blur-border);
    background-color: rgb(170, 247, 160);
}

input:checked+label:after {
    left: calc(100% - 5px - 10px);
    
}

.buttons {
    min-height: 10vh;
    display: flex;
    align-items: start;
    justify-content: left;
    width: 100%;
}

.field {
    height: fit-content;
    display: flex;
    align-items: center;
    gap: 16px;
    padding-right: 15px
}

.field .shortselect {
    
    /* 具体像素值 */
    /* 或 */
    width: 50%;
    /* 具体百分比 */
}

.field .about {
    font-size: 12px;
    color: var(--colour-3);
}

.input-container .about {
    font-size: 12px;
    color: var(--colour-3);
}

.disable-scrollbars::-webkit-scrollbar {
    background: transparent;
    /* Chrome/Safari/Webkit */
    width: 0px;
}

.disable-scrollbars {
    scrollbar-width: none;
    /* Firefox */
    -ms-overflow-style: none;
    /* IE 10+ */
}

select {
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    cursor: pointer;
    background-color: white;
    border: 2px solid white;
    color: var(--colour-3);
    display: block;
    position: relative;
    overflow: hidden;
    outline: none;
    padding: 8px 16px;
    height: 40px;
    appearance: none;
    background: white url('arrow-down.svg') no-repeat right 10px center;
    background-size: 24px 24px;
}

/* 在获得焦点时将边框颜色变为红色 */
select:focus {
    border-color: gray;
}

.box-foruser-input {
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    background-color: var(--blur-bg);
    width: 70%;
    border-radius: 30px;
    border: 1px solid var(--blur-border);
    padding: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    max-height: 300px;
    /* 设置最大高度 */
    overflow-y: auto;
    /* 添加垂直滚动条 */
}

.input-box {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-right: 15px;
    cursor: pointer;
    margin-top: 10px;
}

.file-name {
    width: 100%;
    text-align: center;
    margin-bottom: 10px;
    font-weight: bold;
}

.info {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    user-select: none;
    background: transparent;
    border-radius: var(--border-radius-1);
    width: 100%;
    cursor: default;
    border: 1px dashed var(--conversations)
}

.bottom_buttons {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.bottom_buttons button {
    padding: 8px 12px;
    display: flex;
    gap: 18px;
    align-items: center;
    cursor: pointer;
    user-select: none;
    background: transparent;
    border: 1px solid #dbd6e4;
    border-radius: var(--border-radius-1);
    width: 100%;
}

.bottom_buttons button span {
    color: var(--colour-3);
    font-size: 14px;
}



.conversations .top {
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: auto;
}

#cursor {
    line-height: 17px;
    margin-left: 3px;
    -webkit-animation: blink 0.8s infinite;
    animation: blink 0.8s infinite;
    width: 7px;
    height: 15px;
}

@keyframes blink {
    0% {
        background: #ffffff00;
    }

    50% {
        background: white;
    }

    100% {
        background: #ffffff00;
    }
}

@-webkit-keyframes blink {
    0% {
        background: #ffffff00;
    }

    50% {
        background: white;
    }

    100% {
        background: #ffffff00;
    }
}


ol,
ul {
    padding-left: 20px;
}


@keyframes spinner {
    to {
        transform: rotate(360deg);
    }
}

.spinner:before {
    content: '';
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 45%;
    width: 20px;
    height: 20px;

    border-radius: 50%;
    border: 1px solid var(--conversations);
    border-top-color: white;
    animation: spinner .6s linear infinite;
}

.grecaptcha-badge {
    visibility: hidden;
}

.mobile-sidebar {
    display: none !important;
    position: absolute;
    z-index: 100000;
    top: 0;
    left: 0;
    margin: 10px;
    font-size: 20px;
    cursor: pointer;
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
    background-color: var(--blur-bg);
    border-radius: 10px;
    border: 1px solid var(--blur-border);
    width: 40px;
    height: 40px;
    justify-content: center;
    align-items: center;
    transition: 0.33s;
}

.mobile-sidebar i {
    transition: 0.33s;
}

.rotated {
    transform: rotate(360deg);
}

@media screen and (max-width: 90px) {
    .conversations {
        display: none;
        width: 100%;
        max-width: none;
    }

    .buttons {
        flex-wrap: wrap;
        gap: 5px;
        padding-bottom: 10vh;
        margin-bottom: 10vh;
    }

    .field {
        min-height: 5%;
        width: fit-content;
    }

    .mobile-sidebar {
        display: flex !important;
    }
}

@media screen and (max-height: 640px) {
    body {
        height: 87vh;
    }
}

.shown {
    display: flex;
}

a:-webkit-any-link {
    color: #496de2;
}

.conversation .user-input textarea {
    font-size: 15px;
    width: 100%;
    height: 100%;
    padding: 12px 15px;
    background: none;
    border: none;
    outline: none;
    color: var(--colour-3);
    resize: vertical;
    max-height: 150px;
    min-height: 80px;
    
        /* 添加这行 */
}

/* style for hljs copy */



/* pre, code {
    display: block;
    background-color: #1d1f21;
    background: #1d1f21;
    color: #15e65a;
    font-family: Menlo, Monaco, Consolas, monospace;
    line-height: 1.5;
    border: none;
    padding: 10px;
} */



.hljs-copy-wrapper {
    position: relative;
    overflow: hidden;
}

.hljs-copy-wrapper:hover .hljs-copy-button,
.hljs-copy-button:focus {
    transform: translateX(0);
}

.hljs-copy-button {
    position: absolute;
    transform: translateX(calc(100% + 1.125em));
    top: 1em;
    right: 1em;
    width: 2rem;
    height: 2rem;
    text-indent: -9999px;
    color: #fff;
    border-radius: .25rem;
    border: 1px solid #ffffff22;
    background-color: #2d2b57;
    background-image: url('data:image/svg+xml;utf-8,<svg width="16" height="16" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" clip-rule="evenodd" d="M6 5C5.73478 5 5.48043 5.10536 5.29289 5.29289C5.10536 5.48043 5 5.73478 5 6V20C5 20.2652 5.10536 20.5196 5.29289 20.7071C5.48043 20.8946 5.73478 21 6 21H18C18.2652 21 18.5196 20.8946 18.7071 20.7071C18.8946 20.5196 19 20.2652 19 20V6C19 5.73478 18.8946 5.48043 18.7071 5.29289C18.5196 5.10536 18.2652 5 18 5H16C15.4477 5 15 4.55228 15 4C15 3.44772 15.4477 3 16 3H18C18.7956 3 19.5587 3.31607 20.1213 3.87868C20.6839 4.44129 21 5.20435 21 6V20C21 20.7957 20.6839 21.5587 20.1213 22.1213C19.5587 22.6839 18.7957 23 18 23H6C5.20435 23 4.44129 22.6839 3.87868 22.1213C3.31607 21.5587 3 20.7957 3 20V6C3 5.20435 3.31607 4.44129 3.87868 3.87868C4.44129 3.31607 5.20435 3 6 3H8C8.55228 3 9 3.44772 9 4C9 4.55228 8.55228 5 8 5H6Z" fill="white"/><path fill-rule="evenodd" clip-rule="evenodd" d="M7 3C7 1.89543 7.89543 1 9 1H15C16.1046 1 17 1.89543 17 3V5C17 6.10457 16.1046 7 15 7H9C7.89543 7 7 6.10457 7 5V3ZM15 3H9V5H15V3Z" fill="white"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    transition: background-color 200ms ease, transform 200ms ease-out;
}

.hljs-copy-button:hover {
    border-color: #0a0a0a44;
}

.hljs-copy-button:active {
    border-color: #0a0a0a44;
}

.hljs-copy-button[data-copied="true"] {
    text-indent: 0;
    width: auto;
    background-image: none;
}

@media(prefers-reduced-motion) {
    .hljs-copy-button {
        transition: none;
    }
}

.hljs-copy-alert {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.visually-hidden {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}

.color-picker>fieldset {
    border: 0;
    display: flex;
    width: fit-content;
    background: var(--colour-1);
    margin-inline: auto;
    border-radius: 8px;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    cursor: pointer;
    background-color: var(--blur-bg);
    border: 1px solid var(--blur-border);
    color: var(--colour-3);
    display: block;
    position: relative;
    overflow: hidden;
    outline: none;
    padding: 6px 16px;
}

/* .color-picker input[type="radio"]:checked {
    background-color: var(--radio-color);
}

.color-picker input[type="radio"]#light {
    --radio-color: gray;
}

.color-picker input[type="radio"]#pink {
    --radio-color: rgb(36, 21, 24);
}

.color-picker input[type="radio"]#blue {
    --radio-color: blue;
}

.color-picker input[type="radio"]#green {
    --radio-color: green;
}

.color-picker input[type="radio"]#dark {
    --radio-color: #232323;
} */

.pink {

    --accent: rgb(68, 165, 168);

}
.theme-icon {
    cursor: pointer;
    font-size: 14px;
}
/* .blue {
    --colour-1: hsl(209 50% 90%);
    --clr-card-bg: hsl(209 50% 100%);
    --colour-3: hsl(209 50% 15%);
    --conversations: hsl(209 50% 25%);
}

.green {
    --colour-1: hsl(109 50% 90%);
    --clr-card-bg: hsl(109 50% 100%);
    --colour-3: hsl(109 50% 15%);
    --conversations: hsl(109 50% 25%);
}

.dark {
    --colour-1: hsl(209 50% 10%);
    --clr-card-bg: hsl(209 50% 5%);
    --colour-3: hsl(209 50% 90%);
    --conversations: hsl(209 50% 80%);
} */

:root:has(#pink:checked) {
    --colour-1: rgb(65, 117, 124);

}

/* :root:has(#blue:checked) {
    --colour-1: hsl(209 50% 90%);
    --clr-card-bg: hsl(209 50% 100%);
    --colour-3: hsl(209 50% 15%);
    --conversations: hsl(209 50% 25%);
}

:root:has(#green:checked) {
    --colour-1: hsl(109 50% 90%);
    --clr-card-bg: hsl(109 50% 100%);
    --colour-3: hsl(109 50% 15%);
    --conversations: hsl(109 50% 25%);
}

:root:has(#dark:checked) {
    --colour-1: hsl(209 50% 10%);
    --clr-card-bg: hsl(209 50% 5%);
    --colour-3: hsl(209 50% 90%);
    --conversations: hsl(209 50% 80%);
} */



 
